body {
    background-image: url('../images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Roboto-Regular, sans-serif;
}

body{
  background-color: #ededed !important;
}

div {
    display: flex;
    justify-content: center;
}
.button-image {
    border-radius: 100%;
    height: 20px;
    width: 20px;
    margin: 10px;
    background-color: #d1cfcf91;
    border: none
}

.top {
    background-color: #EEE3D9;
  }
  
  img {
    text-align: center;
  }
  
  div {
    text-align: center;
  }
  
  /*//////////////////////////////////////////////////////////////////
  [ FONT ]*/
  
  @font-face {
    font-family: Roboto-Regular;
    src: url('../fonts/Roboto/Roboto-Regular.ttf');
  }
  
  @font-face {
    font-family: Roboto-Bold;
    src: url('../fonts/Roboto/Roboto-Bold.ttf');
  }
  

  .box{
    height: 10em;
    width: 40em;
    margin: auto;
    border-radius: 1em;
    background-color: white;
    box-shadow: 2px 2px 4px #000000;
  }

  .searchButton{
    height: 5em;
    width: 5em;
    background-color: #1CB3E6;
    color: white;
    border-radius: 100%;
    text-align: center;
    padding-top:1.5em;
    margin-right: 13em;
    box-shadow: 2px 2px 4px #000000;
    margin-top: 2em;
  }
